@media only screen and (max-width: 1200px){
	.col .order span{
		font-size:8rem;
	}
	.col h3{
		font-size: 1.2rem;
	}
}
@media only screen and (max-width:1024px){
	*{
		font-size: 12px;
	}
	.supply{
		margin-left: 68%;
	}
	nav a{
		margin: 0.3rem;
	}
	.search-call{
		height: 5rem;
	}
	.search-call a{
		padding: 0;
	}
	.light-img{
		right: 1vw;
		width: 8.5%;
	}
	.screen{
		padding-top: 5rem;
	}
	.img-in-text{
		left: 4rem;
		margin-left: -4rem;	
	}
	.col h3{
		font-size: 1.1rem;		
	}
	.col p{
		font-size: 0.8rem;
	}
	.feedback{
		padding-right: 12rem;
	}
	.footer{
		padding-top: 2rem;	
	}
}
@media only screen and (max-width:768px){
	*{
		font-size: 11px;
	}
	.container{
		width: 92%;
	}
	.navbar.container{
		width: 100%;
	}
	nav{
		flex-wrap: wrap;
		justify-content: space-around;
	}
	nav::after{
		content: "";
		width: 100%;
	}
	nav a:nth-child(3)~a{
		order:1;
	}
	.supply{
		margin-left: 10%;
		min-width: 80%;
	}
	.form{
		width: 97%;
	}
	.select-header{
		width: 8rem;
	}
	.img-in-text{
		left:0;
		margin-left: 0;
	}
	.advantage-item{
		width: 100%;
	}
	
	.col .order span{
		font-size: 7rem;
	}
	.col p{
		font-size: 1rem;
	}
	.col{
		padding: 3.7%;
	}
	.catalog{
		flex-wrap: wrap;
	}
	.col-3{
		width: 50%;
	}
	.col-3:nth-child(3){
		flex-direction: row;
		flex-basis: 100%;
	}
	.col-3:nth-child(3)>.wrap{
		flex:50%;
	}
	.wrap-5{
		margin-top: 0;
	}
	.slide-box{
		flex-direction: column;
	}
	.profile img{
		width: 50%;	
		padding-left: 2rem;
	}
	.slider-decor{
		width: 8vw;
		right: 16%;
	}
	.feedback{
		padding: 1rem 2rem 1rem;
		height: 11rem;
	}
	.footer{
		flex-wrap: wrap;
	}
	
	 .f-menu{
		width: 50%;
	}
	.f-contacts{
		width: 100%;
	}
	.f-contacts::after{
		width: 0;
	}
}
@media only screen and (max-width:425px){
	
	.navbar{
		align-items: stretch;
	}
		
	.search-call{
		height: auto;
	}
	
	nav{
		padding: 0.4rem;
		flex-direction: column;
		align-items: center;
	}
	.select-header {
	    width: 5.9rem;
	}
	.select-placeholder{
		font-size: 0.8rem;
	}
	.wrap-5 .text{
		width: auto;
	}
	.feedback{
		height: 12rem;
	}
	.footer{
		flex-direction: column;
		align-items: center;
	}
	.f-menu{
		width: 84%;
	}
	.f-contacts::after{
		width: 100%;
	}
	.img-in-text{
		display: none;
	}
}
@media only screen and (max-width: 320px){

}