*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: cursive;
	font-size: 18px;
}
body{
	background: url(background.jpg) 33% 50% no-repeat fixed;
	background-size: cover;

}
body::after{
	content: "";
	display: block;
	position: absolute;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: -3;
}
.instruct{
	margin: 0 auto;
	margin-top: 2rem;			
	width: 	55%;
}
button{
	display: block;
	margin: 0 auto;
	width: 50vw;
	height: 80px;
	border-radius: 13px;
	cursor: pointer;
	font-size: 	1.5rem;
	text-transform: uppercase;
	background-color: #e2ddd7;
}
button:focus{
	outline: 0;
}
.wrap{
	margin: 0 auto 15px;
	/*margin-top: 5rem;*/
}
.box{
	position: relative;
	width: 700px;
	height: 125px;
	margin: 0 auto;
	background-color:#5f5e5d;
	border: 1px solid #123;
}
.point{
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #111;
	border: 1px solid #444;
}
.table{
	margin: 0 auto;
	margin-top: 1rem;
	width: 	50%;
	font-size: 2rem;
	background-color: rgba(	0, 0,0,0.6);
}

.best{
	font-size: 1.2rem;
}
.best>span{
	font-size: inherit;
}
table{
	width: 	100%;
	color: #fff;
	border-collapse: collapse;	
}
td{
	font-size: 1.2rem;
	width: 50%;
	padding-left: 1rem;
}
p{
	margin-left: 10%;
	color: #fff;
}


