@media only screen and (min-width: 1000px){
	*{
		font-size:16px;
	}
	.mob{
		display: none;
	}
	.button{
		padding: 15px;
		font-size: 14px;
		width: 285px;
		border-radius: 4px;
		&:hover{
			background-color: #0e6ce4;
			transition: .4s;
		}
	}
	.button-reg{
	}
	.button-drk{
		width: 320px;
	}
	.wrap, .wrap-desk{
		margin-left: auto;
		margin-right: auto;
		width: 77%;
	}
	h1{
		font-size:44px;
	}
	h3{
		font-weight: 300;
		font-size: 20px;
		line-height: 24px;
	}
	h4{
		font-size: 20px;
	}
	.characteristic{
		.line{
			padding: 20px 0;
		}
		.wrap{
			width: 90%;	
		}
	}
	.auto--characteristic{
		display: flex;
		.characteristic-car{
			flex:3 5;
			h3{
				margin-left: 0;
				margin-bottom: 	36px;
			}
		}
		&>.pic{
			flex:5 3;
		}
	}
	.deskription--pricelist{
		display: flex;
		flex-flow: row-reverse wrap;
		justify-content: space-between;
		.date-picker-block{
			width: 39%;
		}
		.price-list{
			width: 59%;
		}
		.prod-description{
			order:-1;
			width: 100%;
		}
	}
	.block{
		margin-top: 40px;
		margin-bottom: 40px;
	}
@border:1px solid #EFF5FB;

	.other-offwers{
		.slider{
			.box{
				flex-direction: column;
				// padding-left: 1rem;
				border-bottom: none;
				border-right: @border;
			}
			.slide{
			
			&-img{
				width: 77%;
				
			}
			&-txt{
				width: 77%;
				
			}
		}
		}
	}

	.feedbacks{
		h1{
			padding-right: 2rem;
		}
	}
	.slick-button-next{
	 bottom: 50%;
	  right: 0;
	  margin-right: -55px;
	}
	.slick-button-next, .slick-button-prev{
	  background:url('../images/slide-next.svg') no-repeat center;
	  background-size: contain;
	  position: absolute; 
	  z-index: 50;
	   min-height: 65px;
	  min-width: 65px;
	  transform: translateY(50%);
	 &:hover{
	 	cursor: pointer;
	 }
	}
	.slick-button-prev{
		transform: translateY(50%) rotate(180deg);
		 bottom: 50%;
		 left: 0;
		 margin-left: -55px;
	}
	.feedbacks{
		padding: 75px 0;
	}
}